 <div class = "container-fluid" data-ng-controller = "salesController">
	<div class="transaction-content">
		<div class="container-fluid">
			<div class="row page-header centerHeading">
				<div class="col-xs-12">
					<div class="text-center centerHeadingContent">
						<h2> Enter Transaction Details</h2>
					</div>
				</div>
			</div>
		</div>
	</div><br/>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<form class="form-horizontal">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-3" for="salesID"><span class="asterisk">*</span>Sale's ID:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="salesID" placeholder="Enter sales ID" data-ng-model="saleID"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="customerID"><span class="asterisk">*</span>Customer ID:</label>
							<div class="col-sm-8"> 
								<input type="text" class="form-control" id="customerID" placeholder="Enter customer ID" data-ng-model="customerID"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="items"><span class="asterisk">*</span>Items:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="items" placeholder="Enter items" data-ng-model="items"/>
							</div>
					</div>
                    </div>

					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-3" for="profit"><span class="asterisk">*</span>Profit:</label>
							<div class="col-sm-8"> 
								<input type="text" class="form-control" id="profit" placeholder="Enter profit" data-ng-model="profit"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="date"><span class="asterisk">*</span>Date:</label>
							<div class="col-sm-8"> 
								<input type="text" class="form-control" id="date" placeholder="dd/mm/yyyy" data-ng-model="date"/>
							</div>
						</div>
						<div class="form-group col-sm-11"> 
							<div class="col-sm-offset-9 text-right">
								<button type="submit" class="btn button-add" data-ng-click="addSale()" >Add Record</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div><br/>
	<div class="modal fade" id="editSaleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Edit a Sales Record</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class = "row form-group">
							<label class = "col-md-4 form-control-label" for = "editsaleid">Sales ID *</label>
							<div class = "col-md-8">
								<input type = "text" class = "form-control" id = "editsaleid" data-ng-model = "editsaleid" disabled="disabled"/>
							</div>
						</div>
						<div class = "row form-group">
							<label class = "col-md-4 form-control-label" for = "editcustomerid">Customer ID *</label>
							<div class = "col-md-8">
								<input type = "text" class = "form-control" id = "editcustomerid" data-ng-model = "editcustomerid"/>
							</div>
						</div>
						<div class = "row form-group">
							<label class = "col-md-4 form-control-label" for = "edititems">Items *</label>
							<div class = "col-md-8">
								<input type = "text" class = "form-control" id = "edititems" data-ng-model = "edititems"/>
							</div>
						</div>
						<div class = "row form-group">
							<label class = "col-md-4 form-control-label" for = "editprofit">Profit *</label>
							<div class = "col-md-8">
								<input type = "text" class = "form-control" id = "editprofit" data-ng-model = "editprofit"/>
							</div>
						</div>
						<div class = "row form-group">
							<label class = "col-md-4 form-control-label" for = "editdate">Date *</label>
							<div class = "col-md-8">
								<input type = "text" class = "form-control" id = "editdate" data-ng-model = "editdate"/>
							</div>
						</div>
						<div class = "modal-footer">
							<button type = "button" class = "btn btn-danger pull-left" data-ng-click = "deleteSaleRecord()">Delete</button>
							<button type = "button" class = "btn btn-default" data-dismiss = "modal">Cancel</button>
							<button type = "button" class = "btn btn-success" data-ng-click = "confirmEdit()">Edit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="sales-content">
		<div class="container-fluid">
			<div class="row page-header centerHeading">
				<div class="col-xs-12">
					<div class="text-center centerHeadingContent">
						<h2> Sales Record</h2>
					</div>
				</div>
			</div>
		</div>
	</div><br/>

	<table class="table table-bordered table-responsive table-hover">
		<thead>
			<tr>
                <th id="Sales_ID">Sales ID<button ng-click="sortBy('saleID')" class="sortingButton"><i class="fa fa-fw fa-sort"></i></button></th>
				<th id="Cust_ID">Customer ID<button ng-click="sortBy('customerID')" class="sortingButton"><i class="fa fa-fw fa-sort"></i></button></th>
				<th id="Item_ID">Item Details</th>
				<th id="Profit">Profit<button ng-click="sortBy('profit')" class="sortingButton"><i class="fa fa-fw fa-sort"></i></button></th>
				<th id="Date">Date<button ng-click="sortBy('date')" class="sortingButton"><i class="fa fa-fw fa-sort"></i></button></th>
				<th id="Action">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat = "sale in salesData | orderBy:propertyName:reverse">
				<td class="filterable-cell">{{sale.saleID}}</td>
				<td class="filterable-cell">{{sale.customerID}}</td>
				<td class="filterable-cell">{{sale.items}}</td>
				<td class="filterable-cell">{{sale.profit}}</td>
				<td class="filterable-cell">{{sale.date}}</td>
				<td class="text-center filterable-cell"><button type="button" class="btn btn-warning button-edit" data-ng-click = "editSale(sale)">Edit</button></td>
			</tr>
		</tbody>
	</table><br/><hr>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<footer class="text-muted text-center"><h4>People Health Pharmacy (PHP) Inc. Database</h4></footer>
			</div>
		</div>
	</div>
</div>